<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<table>
    <% var columns=Object.keys(data[0]) %>
        <tr>
            <% for(var i=0; i < Object.keys(data[0]).length; i++) { %>
                <th>
                    <%= columns[i] %>
                </th>

                <% } %>
        </tr>
        
            <% for(var i=0; i < data.length; i++) {  %>
                <tr>
                    <% for(var j = 0; j < Object.values(data[i]).length; j++ ){ %>

                    <td>
                        <%= Object.values(data[i])[j] %>
                    </td>

                    <% } %>
                </tr>
            <% } %>
       
</table>